* {
  margin:0;
  padding:0;
  list-style: none;
  font-family: roboto;
  color:#54585A;
}

body {
  background-color: #5ED4BF;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.page__app-wrapper {
  background-color: white;
  width: 60%;
  height: 70%;
}

/* header */
.page__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #449E8E;
}

.header__logo-img {
  width: 40px;
  margin: 10px 20px;
}

.header__date-wrapper {
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__date__day {
  margin: 0px 10px;
  font-size: 30px;
  color: #449E8E
}

.header__dates-wrapper {
  text-align: start;
}
.date__day-week {
  font-weight: 500;
}
.header__date__year {
  font-weight: 100;
  color:rgba(73, 76, 77, 0.445);
}

/* main */

.page__main {
  text-align: start;
  margin-left: 100px;
  margin-top:40px;
}

.list-to-do__task {
  margin-bottom: 5px;
}

.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 22px;
  border-radius:100%;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius:100%;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: solid 2px #5ED4BF;
  border-radius:100%;
}


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white;
  border: 3px solid #449E8E;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #449E8E;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.main__list-to-do {
}

.hidden {
  display: none;
}