@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500,700,800,900&display=swap');
* {
  margin:0;
  padding:0;
  list-style: none;
  font-family: roboto;
  color:#54585A;
}

body {
  background-color: #5ED4BF;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.page__app-wrapper {
  align-self: center;
  background-color: white;
  width: 75%;
  height: 80%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 5px;
}

/* header */
.page__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #449E8E;
}

.header__logo-img {
  width: 40px;
  margin: 10px 20px;
}

.header__date-wrapper {
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__date__day {
  margin: 0px 10px;
  font-size: 30px;
  color: #449E8E
}

.header__dates-wrapper {
  text-align: start;
}
.date__day-week {
  font-weight: 500;
}
.header__date__year {
  font-weight: 100;
  color:rgba(73, 76, 77, 0.445);
}

/* main */

.page__main {
  text-align: start;
  margin-left: 10%;
  margin-top:40px;
  height: 65%;
}

.list-to-do__task {
  margin-bottom: 8px;
}

.container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 22px;
  border-radius:100%;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius:100%;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: solid 2px #5ED4BF;
  border-radius:100%;
}


/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white;
  border: 3px solid #449E8E;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #449E8E;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.list-finished__task {
  margin-bottom: 10px;
}

/* section button */

.page__section-button {
  height: 18%;
  border-top:1px solid rgba(128, 128, 128, 0.356);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: white;
  border: solid 3px #5ED4BF;
  color: #449E8E;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  padding:5px;
}

/* modal */
.page__modal {
  position: absolute;
  margin-left: 40%;
  transform: translate(-50%, -50%);
  height:150px;
  width:300px;
  background-color: #449E8E;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  opacity: 1;
}

.modal__text {
  color: white;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}

.modal__input {
  margin:10px;
  background-color: transparent;
  border: .5px solid rgba(255, 255, 255, 0.514);
  border-radius: 2px;
  height: 30px;
  width: 80%;
  padding-left: 20px;
  color:white;
  font-size: 18px;
}

.modal__button {
  width: 150px;
  height: 40px;
  background-color: transparent;
  border-radius: 30px;
  color:white;
  font-size: 18px;
  border: 2px solid white;
  margin-top: 10px;
}

/* OTHERS  */
.hidden {
  display: none;
}

.disabled {
  background-color: white;
  opacity: 0.5;
}

/* MEDIA QUERIES */

@media all and (min-width: 385px) {
  .page__modal {
    margin-left: 30%;
  }
}

@media all and (min-width: 410px) {
  .page__modal {
    margin-left: 25%;
  }
}

@media all and (min-width: 768px) {
  .page__app-wrapper {
    width: 35%;
    height: 80%;
  }
  .page__modal {
    margin-left: 15%;
  }
}

@media all and (min-width: 980px) {
  .page__modal {
    margin-left: 11%;
    margin-top:10%;
  }
}